rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAuthed() {
      return request.auth != null;
    }

    function isRoadTripPhotoUploader() {
      return isAuthed() && (
        request.auth.token.email == "andrewpcarlson85@gmail.com"
        || request.auth.token.email == "savannahbcarlson@gmail.com"
      );
    }

    match /roadTrips/{tripId}/photo-proof/{challengeId}/{fileName} {
      allow read: if true;
      allow write: if isRoadTripPhotoUploader()
        && (
          request.resource == null
          || request.resource.contentType.matches("image/.*")
        );
    }

    match /roadTrips/{tripId}/events/{eventType}/{fileName} {
      allow read: if true;
      allow write: if isRoadTripPhotoUploader()
        && (
          request.resource == null
          || request.resource.contentType.matches("image/.*")
        );
    }
  }
}